body {
  background-image: url('/pics/b.gif');
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.image-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.reverse {
  flex-direction: row-reverse;  /* For right-side images */
}

.resmid, .resright {
  width: 400px;
  height: 600px; /* Ensure the images are the same size */
  object-fit: cover; /* Maintain aspect ratio, covering the box */
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  .resmid, .resright {
    width: 100%; /* Make images responsive on smaller screens */
    height: auto; /* Maintain aspect ratio */
  }
}


/* Updated CSS code */
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.links a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #333333;
  text-decoration: none;
  border: 2px solid #333333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: #333333;
  color: #f2f2f2;
}

.GeneratedText {
  font-family: 'Comic Sans MS';
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 1.3em;
  color: #ffffff;
  padding: 1.5em;
  max-width: 50%; /* Adjust this value to your desired width */
  margin: 0 auto; /* Centers the text horizontally */
  text-align: center; /* Centers the text vertically with respect to the upper line */
}


@media (max-width: 55em) {
  .links {
    margin-bottom: 40px; /* Add margin to create a gap below the links on small screens */
  }
}

.beautiful-text {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  font-size: 1.25rem; /* Adjust as needed */
  color: #ffffff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  font-weight: normal; /* Default weight for Comic Sans */
  letter-spacing: 0.5px;
  line-height: 1.5;
  transition: color 0.3s ease;
}

/* Optional: Adds a hover effect */
.beautiful-text:hover {
  color: #f0f0f0;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}


.special-resright {
  width: 400px;         /* Set width */
  height: 280px;        /* Set height */
  object-fit: cover;    /* Ensure the image covers the area without stretching */
  margin: auto;
  display: block;
}


